.auth-modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    height: 536px;
    width: 864px;
    z-index: 800;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.5);
    @media(max-width: 1000px) {
        max-width: calc(100% - 20px);
        left: calc(50% - 5px);
    }
    .close {
        position: absolute;
        top: -24px;
        left: -24px;
        @media(max-width: 1000px) {
            left: 0;
            top: -32px;
        }
        i {
            color: #fff;
        }
    }
    .form {
        flex:1;
        padding: 48px 48px 24px 48px;
        position: relative;
        h1 {
            color: #111215;
            font-size: 34px;
            font-weight: bold;
            line-height: 38px;
            margin:0;
            margin-bottom: 24px;
        }

        input {
            height: 48px;	
            width: 100%;	
            border: 1px solid rgba(17,18,21,0.2);
            border-radius: 2px;	
            background-color: #FFFFFF;
            margin-bottom: 8px;
            padding: 0 12px;
            opacity: 0.8;	
            color: #111215;
            font-size: 14px;	
            font-weight: 500;	
            letter-spacing: 0.1px;	
            line-height: 20px;
            &::placeholder {
                color: rgba(#111215, .4);
            }
            &:focus {
                outline: none;
                border: 1px solid #111215;	
            }
        }
        .forgot {
            opacity: 0.8;	
            color: #111215;	
            font-size: 10px;	
            font-weight: 600;	
            letter-spacing: 0.5px;	
            line-height: 12px;
            text-transform: uppercase;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            span {
                cursor: pointer;
            }
        }
        .btn-block-primary {
            margin: 14px 0;
        }
        .form-content-foot {
            color: #111215;
            font-size: 12px;	
            font-weight: 600;	
            letter-spacing: 0.5px;	
            line-height: 16px;	
            text-align: center;
            a {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .foot {
            position: absolute;
            bottom: 24px;
            text-align: center;
            width: calc(100% - 96px);
            font-size: 10px;	
            font-weight: 600;	
            letter-spacing: 0.5px;	
            line-height: 12px;
            text-transform: uppercase;
            a {
                opacity: 0.4;	
                color: #111215;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    opacity: .85;
                }
                &:first-of-type {
                    &:after {
                        content: "  |";
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .media {
        flex: 480px 0 0;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
    }
    &.modal-confirm {
        flex-direction: column;
    }
}

.input {
        height: 48px;	
        width: 100%;	
        border: 1px solid rgba(17,18,21,0.2);
        border-radius: 2px;	
        background-color: #FFFFFF;
        margin-bottom: 8px;
        padding: 0 12px;
        opacity: 0.8;	
        color: #111215;
        font-size: 14px;	
        font-weight: 500;	
        letter-spacing: 0.1px;	
        line-height: 20px;
        &.sm {
            height: 40px;
        }
        &::placeholder {
            color: rgba(#111215, .4);
        }
        &:focus {
            outline: none;
            border: 1px solid #111215;	
        }
}

.label {
    font-size: 12px;	
    font-weight: bold;	
    letter-spacing: 1px;	
    line-height: 18px;
    text-transform: uppercase;
}

.textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    line-height: 24px;
    opacity: .9;
    border: 1px solid rgba(17,18,21,0.2);

}

.select-style {
    position: relative;
    &:after {
        content: '';
        height:0;
        width: 0;
        display: inline-block;
        position: absolute;
        border-top: 4px solid #000;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        position: absolute;
        right: 10px;
        top:48%;
        z-index: 1;
    }
    .select {
        padding-right: 16px;
    }
}

.select {
    position: relative;
    display: block;
    height: 48px;	
    width: 100%;	
    border: 1px solid rgba(17,18,21,0.2);
    border-radius: 2px;	
    background-color: #FFFFFF;
    margin-bottom: 8px;
    padding: 0 12px;
    opacity: 0.8;	
    color: #111215;
    font-size: 14px;	
    font-weight: 500;	
    letter-spacing: 0.1px;	
    line-height: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    height: 40px;
    margin-bottom: 8px;
    z-index: 2;
}
.select::-ms-expand {
    display: none;
}
.select:hover {
    border-color: #888;
}
.select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select option {
    font-weight:normal;
}

.form {
    .label {
        margin-bottom: 12px;
    }
}

.form-row {
    display: block;
    margin-bottom: 24px;
    &:last-child {
        margin-bottom:0;
    }
    &.flex {
        display: flex;
        > div {
            margin-right: 12px;
            flex:1;
            &:last-child {
                margin-right:0;
            }
        }
    }
}