html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    margin: 0 auto;
    max-width: 1230px;
}

body {
    &.no-scroll {
        overflow: hidden;
        padding-right: 16px;
    }
}