html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    margin: 0 auto;
    max-width: 1230px;
}

body {
    color: #111215;
    &.no-scroll {
        overflow: hidden;
        padding-right: 16px;
    }
}

figure {
    margin:0;
    &.user-img {
        background: #eaeaea;
        height: 40px;
        width: 40px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}