html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    margin: 0 auto;
    max-width: 1230px;
}

body {
    color: #111215;
    &.no-scroll {
        overflow: hidden;
        padding-right: 16px;
    }
}

figure {
    margin:0;
    &.user-img {
        background: #eaeaea;
        height: 40px;
        width: 40px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

img {
    max-width: 100%;
}


.page {

    .page-wrap {
        max-width: 1200px;
        margin: 72px 48px;
    }

    .page-head {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #eaeaea;
        h2 {
            margin:0;
            font-size: 24px;	
            font-weight: bold;	
            letter-spacing: 0.17px;
        }
    }

    .page-content {
        opacity: 0.9;
        font-size: 14px;	
        font-weight: 500;	
        line-height: 24px;
    }
}

@media(min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #b0b0b0;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
    background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
}