.bold {
    font-weight: 600;
}

// fade animation

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s
  }
  
  .fade-enter, .fade-leave-active {
    opacity: 0
  }


  // dot icons

  .icon-warning {
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #DEC818;
    margin-right: 8px;
  }

  .icon-success {
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 50%;
    background: green;
    margin-right: 8px;
  }

  .icon-error {
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #DE3618;
    margin-right: 8px;
  }